<!DOCTYPE html>
<html>

<head>
  <title>Index</title>

<!--   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
  <script src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script type = "text/javascript" src = "index.js"></script>
  <script type="text/javascript" src="/javascripts/home.js" ></script> -->
  
</head>

<body>

<h1> Media Lab UROP Deployment test </h1>
<ul>
  <li>enter the number of PEVs</li>
  <form id = "loginform" name = "login" method = "post" action = "/login"> 
        <input type="text" name="username" class = "loginbox" id = "username" placeholder = "Username">
        <input type="password" name="password" class = "loginbox" id = "password" placeholder = "Password"> 
        <!-- <button class = "splash-button" id = "signup" > Sign up </button> -->
        <input type = "submit" value = "Login" class = "splash-button" id = "login" ></input>
  </form>
</ul>
  

</body>


</html>
